
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gray-500 {
    position: relative;
    
  }
}

/* Sidebar container styles */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Sidebar content styles */
.sidebar-content {
  padding: 20px;
  color: white;
}

/* Sidebar link styles */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: background-color 0.2s;
}

/* Hover effect for sidebar links */
.sidebar a:hover {
  background-color: #555;
}

/* Button to open the sidebar on smaller screens */
.openbtn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 250px;
  }

  /* Adjust styles for smaller screens here */
}

